.vscode/

*.pyc
.ipynb_checkpoints
*.egg-info/
*.eggs
built/*
build/
dist/
cmake-build/
__pycache__/
graphlearn/proto/*.pb*
graphlearn/proto/*.grpc*
graphlearn.egg-info/
graphlearn/python/lib
graphlearn/*.so
graphlearn/*.dylib
