*.pyc

data/syncer/*
data/cora/*
data/cora.zip
data/ppi/*
data/ppi.zip
data/blogcatelog/*
data/blogcatelog.zip
data/arxiv/*
data/arxiv.zip
data/u2i.zip
data/u2i/*
data/FB15k-237/*
data/FB15k-237.zip

tf/graphsage/*.pyc
tf/sgcn/*.pyc
tf/gat/*.pyc
tf/gcn/*.pyc
tf/bipartite_graphsage/*.pyc
tf/line/*.pyc
tf/deepwalk/*.pyc
tf/transe/*.pyc

tf/line/*.npy
tf/deepwalk/*.npy
tf/bipartite_graphsage/*.npy
tf/graphsage/*.npy
tf/node2vec/.*npy
tf/transe/*.npy

tf/graphsage/graphlearn.*
tf/gat/graphlearn.*
tf/gcn/graphlearn.*
tf/bipartite_graphsage/graphlearn.*
tf/line/graphlearn.*
tf/deepwalk/graphlearn.*
tf/transe/graphlearn.*
